:root{    
 --bg:#030B1F;    
 --card:#081A38;    
 --primary:#1E88FF;    
 --secondary:#00D4FF;    
 --text:#fff;    
 --muted:#9FB3D9;    
}    
*{    
 margin:0;    
 padding:0;    
 box-sizing:border-box;    
}    
/* ===== MODAL ===== */

.modal-overlay{

position:fixed;
inset:0;

display:flex;
justify-content:center;
align-items:center;

background:rgba(0,8,25,.75);
backdrop-filter:blur(8px);

opacity:0;
visibility:hidden;

transition:.28s;

z-index:99999;

}
.auth-btn{
    width:100%;
    padding:16px 20px;
    margin-top:14px;

    border:1px solid rgba(70,180,255,.28);
    border-radius:18px;

    background:rgba(255,255,255,.05);
    backdrop-filter:blur(14px);

    color:#8fdcff;
    font-size:17px;
    font-weight:700;
    letter-spacing:.4px;

    cursor:pointer;
    transition:all .28s ease;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,.08),
        0 6px 18px rgba(0,120,255,.15);
}

.auth-btn:hover{
    background:rgba(40,170,255,.12);
    border-color:#3ec9ff;

    color:#ffffff;

    transform:translateY(-2px);

    box-shadow:
        0 0 22px rgba(62,201,255,.35),
        0 8px 24px rgba(0,120,255,.25);
}

.auth-btn:active{
    transform:scale(.98);

    box-shadow:
        0 0 10px rgba(62,201,255,.25);
}

.auth-btn:focus{
    outline:none;
}
.modal-overlay.show{

opacity:1;
visibility:visible;

}
.auth-btn{
    position:relative;
    overflow:hidden;
}

.auth-btn::before{
    content:"";
    position:absolute;

    top:0;
    left:-120%;

    width:70%;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.25),
        transparent
    );

    transition:left .6s;
}

.auth-btn:hover::before{
    left:150%;
}
.modal-box{

width:90%;
max-width:380px;

padding:24px;

border-radius:22px;

background:
linear-gradient(
180deg,
rgba(16,34,92,.95),
rgba(4,16,48,.96)
);

border:1px solid rgba(65,170,255,.35);

box-shadow:
0 0 35px rgba(0,140,255,.25);

transform:scale(.85);
transition:.28s;

}

.modal-overlay.show .modal-box{

transform:scale(1);

}

.modal-title{

font-size:22px;
font-weight:700;

color:#fff;

margin-bottom:8px;

}

.modal-sub{

color:#8ebcff;

font-size:14px;

margin-bottom:18px;

line-height:1.5;

}

.modal-input{

width:100%;

padding:14px 16px;

border:none;

outline:none;

border-radius:14px;

background:#081935;

color:#fff;

font-size:16px;

box-sizing:border-box;

border:1px solid rgba(80,170,255,.2);

}

.modal-input:focus{

border-color:#24b9ff;

box-shadow:0 0 15px rgba(36,185,255,.35);

}

.modal-actions{

display:flex;

gap:12px;

margin-top:22px;

}

.modal-btn{

flex:1;

padding:13px;

border:none;

border-radius:14px;

font-weight:700;

font-size:15px;

cursor:pointer;

transition:.25s;

}

.modal-btn.cancel{

background:#16274b;

color:#b9d8ff;

}

.modal-btn.cancel:hover{

background:#203761;

}

.modal-btn.save{

background:
linear-gradient(
135deg,
#1f6fff,
#19c4ff
);

color:#fff;

box-shadow:
0 0 18px rgba(33,170,255,.35);

}

.modal-btn.save:hover{

transform:translateY(-2px);

box-shadow:
0 8px 24px rgba(33,170,255,.45);

}
.mining-card::after{    
content:"";    
    
position:absolute;    
inset:0;    
    
border-radius:35px;    
    
box-shadow:    
0 0 25px rgba(0,212,255,.3),    
0 0 60px rgba(30,136,255,.15);    
    
pointer-events:none;    
}    
.menu-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  margin-top:18px;
}
body{    
 background:var(--bg);    
 color:var(--text);    
    font-family:'Space Grotesk',sans-serif;    
}    
.balance-label{    
 font-size:12px;    
 letter-spacing:3px;    
 color:#65d7ff;    
 margin-bottom:6px;    
}    
.mining-card{    
 position:relative;    
 overflow:hidden;    
    
 margin-top:15px;    
 padding:20px;    
    
 border-radius:35px;    
    
 background:    
 linear-gradient(    
 135deg,    
 #072B78,    
 #0E47C6,    
 #00BFFF    
 );    
    
 border:1px solid rgba(255,255,255,.15);    
    
 box-shadow:    
 0 0 40px rgba(0,212,255,.15),    
 inset 0 1px 0 rgba(255,255,255,.2);    
}    
body::before{    
 content:"";    
 position:fixed;    
 inset:0;    
 background:    
 radial-gradient(circle at 20% 20%,rgba(0,212,255,.15),transparent 25%),    
 radial-gradient(circle at 80% 10%,rgba(79,70,229,.15),transparent 25%);    
 pointer-events:none;    
}    
.menu-card{
  display:flex;
  align-items:center;
  gap:10px;

  min-height:72px;

  padding:12px;

  border-radius:18px;

  background:#081A38;
  border:1px solid rgba(255,255,255,.06);

  overflow:hidden;
}
.menu-icon{
  width:48px;
  height:48px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:14px;

  font-size:24px;
}
.topbar{    
 display:flex;    
 justify-content:space-between;    
 align-items:center;    
    
 padding-bottom:18px;    
 margin-bottom:18px;    
    
 border-bottom:    
 1px solid rgba(255,255,255,.05);    
}    
.page h2{    
 font-size:24px;    
 margin-bottom:15px;    
}    

.menu-card:hover{    
 transform:translateY(-3px);    
 box-shadow:    
 0 0 20px rgba(0,212,255,.15);    
}    
.premium-card{
  border:1px solid rgba(0,212,255,.4);
  box-shadow:
  0 0 10px rgba(0,212,255,.3),
  0 0 20px rgba(0,212,255,.15);
}
.menu-title{
  font-size:16px;
  font-weight:600;
  line-height:1.2;
}
.card{    
 background:var(--card);    
 backdrop-filter:blur(10px);    
 transition:.25s;    
 padding:14px;    
 border-radius:18px;    
 margin-top:15px;    
    
 border:1px solid rgba(255,255,255,.06);    
}    
.card:hover{    
 transform:translateY(-2px);    
}    
.menu-sub{
  margin-top:3px;
  font-size:12px;
  opacity:.7;
} 
.page{    
 display:none;    
 padding:20px;    
 padding-bottom:90px;    
}    

.page.active{
    display:block;
}
  
#balanceValue{    
 text-shadow:0 0 15px rgba(0,212,255,.5);    
}    

.progress{    
 width:100%;    
 height:8px;    
 margin-top:12px;    
 border-radius:999px;    
 background:rgba(255,255,255,.1);    
 overflow:hidden;    
}    
#statusText{    
 transition:.3s;    
}    
#progressBar{    
 width:0%;    
 height:100%;    
 background:#00ff88;    
 transition:width 1s linear;    
}    
.mine-top{  
display:flex;  
justify-content:space-between;  
align-items:flex-start;  
gap:12px;  
}  
  
.user-info{  
flex:1;  
min-width:0;  
}  
  
.user-name{  
font-size:20px;  
font-weight:700;  
}  
  
.user-id{  
margin-top:6px;  
font-size:13px;  
color:#9FB3D9;  
  
overflow:hidden;  
text-overflow:ellipsis;  
white-space:nowrap;  
}  
  
.balance-box{  
margin-top:22px;  
  
display:flex;  
align-items:flex-end;  
gap:8px;  
  
flex-wrap:wrap;  
}  
  
#balanceValue{  
font-size:clamp(28px,8vw,52px);  
font-weight:700;  
line-height:1;  
}  
  
.balance-unit{  
font-size:18px;  
color:#9FB3D9;  
margin-bottom:6px;  
}  
  
.mine-info{  
margin-top:18px;  
  
display:flex;  
justify-content:space-between;  
align-items:center;  
  
gap:10px;  
  
flex-wrap:wrap;  
  
font-size:14px;  
}  
  
.mine-footer{
   display:flex;
   justify-content:space-between;
   gap:10px;
}

.mine-footer .label{
   font-size:13px;
   opacity:.7;
}

#miningTimer,
#miningRateText,
#upgradeBonusText{
   font-size:14px;
   font-weight:700;
}
  
.rate-badge{  
font-size:13px;  
font-weight:700;  
color:#65d7ff;  
}  
  
#speedRate{  
font-size:12px;  
color:#9FB3D9;  
}  
.mining-card::before{    
 content:"";    
    
 position:absolute;    
    
 inset:0;    
    
 border-radius:35px;    
    
 padding:1px;    
    
 background:    
 linear-gradient(    
 135deg,    
 rgba(255,255,255,.35),    
 transparent    
 );    
    
 -webkit-mask:    
 linear-gradient(#fff 0 0) content-box,    
 linear-gradient(#fff 0 0);    
    
 -webkit-mask-composite:xor;    
    
 pointer-events:none;    
}    
  
.balance{    
 display:flex;    
 align-items:center;    
 gap:6px;    
    
 font-family:'Rajdhani',sans-serif;    
 font-size:30px;    
 font-weight:700;    
}    
.task-item{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
margin-bottom:12px;
border-radius:14px;
background:rgba(255,255,255,.03);
}

.task-info{
display:flex;
align-items:center;
gap:12px;
}

.task-icon{
font-size:24px;
width:28px;
text-align:center;
}

.task-item button{
padding:8px 18px;
border:none;
border-radius:10px;
cursor:pointer;
}

.task-item button:disabled{
opacity:.6;
}
   
.profile-btn:hover{  
transform:  
translateY(-2px)  
scale(1.05);  
  
box-shadow:  
0 0 20px rgba(0,212,255,.25);  
}  
.profile-header{

position:relative;

padding:28px;

border-radius:28px;

background:
linear-gradient(
160deg,
rgba(12,28,68,.98),
rgba(9,20,52,.96)
);

border:1px solid rgba(255,255,255,.08);

box-shadow:
0 10px 40px rgba(0,0,0,.35);

overflow:hidden;

}

.toast{  
position:fixed;  
  
top:20px;  
left:50%;  
  
transform:  
translateX(-50%)  
translateY(-20px);  
  
padding:10px 16px;  
  
font-size:13px;  
font-weight:600;  
  
color:#fff;  
  
background:  
rgba(6,22,47,.92);  
  
backdrop-filter:blur(12px);  
  
border:1px solid  
rgba(0,212,255,.25);  
  
border-radius:12px;  
  
box-shadow:  
0 0 20px rgba(0,212,255,.18);  
  
opacity:0;  
pointer-events:none;  
  
z-index:999999;  
  
transition:  
opacity .25s ease,  
transform .25s ease;  
}  
  
.toast.show{  
opacity:1;  
  
transform:  
translateX(-50%)  
translateY(0);  
}  

.token-mini{  
width:46px;  
height:46px;  
  
opacity:.8;  
  
filter:  
drop-shadow(  
0 0 8px rgba(0,212,255,.4)  
);  
}  
.logo{    
 font-family:'Orbitron',sans-serif;    
 font-weight:700;    
 letter-spacing:4px;    
    
 background:linear-gradient(    
 90deg,    
 #ffffff,    
 #8ad7ff,    
 #1e88ff    
 );    
    
 -webkit-background-clip:text;    
 -webkit-text-fill-color:transparent;    
    
 text-shadow:    
 0 0 20px rgba(0,212,255,.4);    
}    
.card h3{    
 margin-bottom:8px;    
}    
.card p{    
 color:#9FB3D9;    
}
.mine-core::before{

content:"";

position:absolute;

width:110px;
height:110px;

border-radius:50%;

background:
radial-gradient(
rgba(0,212,255,.25),
transparent 70%
);

z-index:-1;
}
.mine-core{

width:78px;
height:78px;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;
font-weight:700;

clip-path:polygon(
25% 6.7%,
75% 6.7%,
100% 50%,
75% 93.3%,
25% 93.3%,
0% 50%
);

background:
linear-gradient(
135deg,
#2347ff,
#00d4ff
);

box-shadow:
0 0 25px rgba(0,212,255,.5),
0 0 50px rgba(0,212,255,.2);

border:
1px solid rgba(255,255,255,.2);

animation:
corePulse 2.5s infinite;
}
@keyframes corePulse{

0%{
transform:scale(1);
}

50%{
transform:scale(1.08);
}

100%{
transform:scale(1);
}

}
.mine-center span{

margin-top:8px;

font-size:11px;
font-weight:700;

letter-spacing:1px;

color:#d7f3ff;
}
 .mine-center{

position:relative;

margin-top:-42px;

width:90px;

display:flex;
flex-direction:column;
align-items:center;

color:#fff;
}
.nav{
position:fixed;
bottom:0;
left:0;
right:0;

max-width:480px;
margin:auto;

height:72px;

display:flex;
justify-content:space-around;
align-items:center;

background:
linear-gradient(
180deg,
rgba(7,43,120,.95),
rgba(5,21,45,.98)
);

backdrop-filter:blur(20px);

border-top:
1px solid rgba(0,212,255,.15);

box-shadow:
0 -10px 30px rgba(0,212,255,.08);

z-index:9999;
}
.nav::before{
content:"";

position:absolute;
top:0;
left:10%;
right:10%;

height:1px;

background:
linear-gradient(
90deg,
transparent,
rgba(0,212,255,.6),
transparent
);
}
.nav-item{

flex:1;

display:flex;
flex-direction:column;

align-items:center;
justify-content:center;

gap:3px;

font-size:12px;
font-weight:600;

color:#D8E8FF;

text-align:center;

line-height:1;

}
.auth-tabs{    
display:flex;    
gap:10px;    
margin-bottom:20px;    
}    
  .confirm-overlay{  
  
position:fixed;  
inset:0;  
  
display:flex;  
align-items:center;  
justify-content:center;  
  
background:rgba(0,0,0,.65);  
backdrop-filter:blur(10px);  
  
opacity:0;  
visibility:hidden;  
  
transition:.25s;  
  
z-index:9999999;  
  
} 
.upgrade-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:12px;
  margin-top:15px;
}

.upgrade-card{

  background:#081A38;
  border:1px solid rgba(255,255,255,.08);

  border-radius:20px;
  padding:14px;

  min-height:190px;

  display:flex;
  flex-direction:column;
}

.upgrade-card h3{
  font-size:15px;
  margin-bottom:6px;
}

.upgrade-level{
  font-size:12px;
  color:#65d7ff;
  margin-bottom:6px;
}

.upgrade-rate{
  font-size:13px;
  color:#d5e4ff;
  margin-bottom:8px;
}

.upgrade-desc{
  font-size:12px;
  color:#9FB3D9;
  flex:1;
}

.upgrade-card button{

  width:100%;

  margin-top:12px;

  padding:10px;

  border:none;
  border-radius:12px;

  font-size:13px;
  font-weight:700;

  color:#fff;

  background:
  linear-gradient(
  135deg,
  #2347ff,
  #00d4ff
  );

}
  .notif{

 width:26px;
 height:26px;

 position:relative;

 display:flex;
 align-items:center;
 justify-content:center;

 border-radius:50%;

 background:rgba(255,255,255,.04);

 border:1px solid rgba(255,255,255,.08);

 backdrop-filter:blur(12px);

}
.page-title{
font-size:28px;
font-weight:700;
margin-bottom:20px;
color:#fff;
}

.card{
background:rgba(12,26,60,.75);
backdrop-filter:blur(18px);
border:1px solid rgba(110,200,255,.15);
border-radius:24px;
padding:20px;
margin-bottom:18px;
box-shadow:
0 10px 30px rgba(0,0,0,.25);
}

.referral-link{
background:#10264D;
border:1px solid rgba(110,200,255,.15);
border-radius:14px;
padding:14px;
font-size:13px;
word-break:break-all;
color:#CFEFFF;
margin:12px 0;
}

.action-row{
display:flex;
gap:10px;
margin-top:15px;
}

.action-btn{
flex:1;
height:48px;
border:none;
border-radius:14px;
font-weight:600;
color:#fff;
background:
linear-gradient(
90deg,
#2563ff,
#22d3ee
);
}

.team-preview{
margin-top:15px;
padding:14px;
background:#10264D;
border-radius:14px;
color:#D8E8FF;
line-height:1.7;
}
.settings-card{

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.06);

border-radius:18px;

padding:8px 18px;

margin-bottom:16px;

}

.settings-group{

font-size:12px;

font-weight:700;

letter-spacing:1px;

text-transform:uppercase;

color:#7FA7D9;

padding:10px 0;

}

.setting-item{

display:flex;

align-items:center;

gap:14px;

padding:15px 0;

cursor:pointer;

border-bottom:1px solid rgba(255,255,255,.05);

transition:.2s;

}

.setting-item:last-child{

border-bottom:none;

}

.setting-item i:first-child{

width:24px;

font-size:18px;

color:rgba(255,255,255,.75);

text-align:center;

}

.setting-item span{

flex:1;

font-size:15px;

color:#fff;

}

.setting-item i:last-child{

color:#6EC8FF;

font-size:12px;

}

.setting-item:hover{

color:#6EC8FF;

}

.logout-item{

color:#ff6b6b;

}

.logout-item span{

color:#ff6b6b;

}

.logout-item i:first-child{

color:#ff6b6b;

}
.notif svg{

 width:14px;
 height:14px;

}

.notif-dot{

 position:absolute;

 top:8px;
 right:8px;

 width:8px;
 height:8px;

 border-radius:50%;

 background:#00D4FF;

 box-shadow:
 0 0 10px #00D4FF,
 0 0 20px #00D4FF;

}
.confirm-overlay.show{  
  
opacity:1;  
visibility:visible;  
  
}  
  
.confirm-box{  
  
width:90%;  
max-width:360px;  
  
padding:24px;  
  
border-radius:28px;  
  
background:  
linear-gradient(  
135deg,  
#081A38,  
#0E47C6  
);  
  
border:1px solid rgba(255,255,255,.12);  
  
box-shadow:  
0 0 30px rgba(0,212,255,.25),  
0 0 60px rgba(0,212,255,.12);  
  
transform:scale(.9);  
  
transition:.25s;  
  
}  
  
.confirm-overlay.show .confirm-box{  
  
transform:scale(1);  
  
}  
  
.confirm-icon{  
  
font-size:42px;  
text-align:center;  
  
margin-bottom:12px;  
  
}  
  
.confirm-title{  
  
font-size:20px;  
font-weight:700;  
  
text-align:center;  
  
margin-bottom:10px;  
  
}  
  
.confirm-message{  
  
text-align:center;  
  
color:#cfe3ff;  
  
line-height:1.5;  
  
margin-bottom:20px;  
  
}  
  
.confirm-actions{  
  
display:flex;  
gap:12px;  
  
}  
  
.confirm-btn{  
  
flex:1;  
  
padding:12px;  
  
border:none;  
border-radius:14px;  
  
cursor:pointer;  
  
font-weight:700;  
  
}  
/* ===========================
   PROFILE HEADER
=========================== */

.profile-header{
    display:flex;
    align-items:center;
    gap:22px;

    margin:20px;
    padding:22px;

    border-radius:24px;

    background:linear-gradient(
        135deg,
        rgba(16,31,78,.96),
        rgba(8,18,48,.96)
    );

    border:1px solid rgba(66,154,255,.25);

    box-shadow:
        0 0 25px rgba(0,132,255,.12);
}

/* ===========================
   AVATAR
=========================== */

.profile-avatar-box{
    position:relative;
    flex-shrink:0;
}

.profile-avatar{
    width:110px;
    height:110px;

    border-radius:50%;
    object-fit:cover;

    border:4px solid #3498ff;

    background:#18264f;

    box-shadow:
        0 0 18px rgba(52,152,255,.35);
}

.change-avatar{

    position:absolute;

    right:-2px;
    bottom:-2px;

    width:40px;
    height:40px;

    border:none;
    border-radius:50%;

    background:#2b87ff;

    color:#fff;

    cursor:pointer;

    transition:.25s;
}

.change-avatar:hover{

    transform:scale(1.08);

    background:#46a3ff;

}

/* ===========================
   INFO
=========================== */

.profile-info-card{

    flex:1;

    display:flex;

    flex-direction:column;

    gap:18px;

}

.profile-info-item{

    display:flex;

    flex-direction:column;

}

.profile-label{

    font-size:12px;

    color:#7eb8ff;

    letter-spacing:1px;

    text-transform:uppercase;

    margin-bottom:6px;

}

.profile-value{

    color:#fff;

    font-size:20px;

    font-weight:700;

}

/* ===========================
   XP
=========================== */

.xp-bar{

    width:100%;

    height:8px;

    border-radius:999px;

    overflow:hidden;

    background:rgba(255,255,255,.08);

    margin:4px 0;

}

.xp-fill{

    height:100%;

    width:0%;

    border-radius:999px;

    background:linear-gradient(
        90deg,
        #25b6ff,
        #00ffd5
    );

    transition:.4s;

}

.profile-xp{

    color:#d8e7ff;

    font-size:13px;

}

/* ===========================
   BADGE
=========================== */

.profile-badge{

    display:inline-flex;

    align-items:center;

    gap:6px;

    width:max-content;

    padding:8px 14px;

    border-radius:999px;

    background:rgba(44,137,255,.12);

    border:1px solid rgba(44,137,255,.25);

    color:#8fd2ff;

    font-weight:600;

}

/* ===========================
   MOBILE
=========================== */

@media(max-width:650px){

.profile-header{

    flex-direction:column;

    text-align:center;

}

.profile-info-card{

    width:100%;

}

.profile-label{

    text-align:center;

}

.profile-value{

    text-align:center;

}

.profile-badge{

    margin:auto;

}

}

  #referralCode{
color:#65d7ff;
text-shadow:
0 0 15px rgba(0,212,255,.4);
}

#referralList{
line-height:2;
color:#d5e4ff;
}

#referralList .member{
padding:10px;
margin-bottom:8px;

background:
rgba(255,255,255,.04);

border-radius:12px;
}
.cancel-btn{  
  
background:rgba(255,255,255,.08);  
color:white;  
  
}  
.ok-btn{  
  
background:  
linear-gradient(  
135deg,  
#2347ff,  
#00d4ff  
);  
  
color:white;  
  
box-shadow:  
0 0 20px rgba(0,212,255,.3);  
  
}  
.auth-tab{    
flex:1;    
padding:12px;    
border:none;    
border-radius:12px;    
cursor:pointer;    
    
background:#0a224a;    
color:#9FB3D9;    
    
font-weight:700;    
}    

.auth-tab.active{    
background:    
linear-gradient(    
135deg,    
#2347ff,    
#00d4ff    
);    
    
color:white;    
}    

.auth-card input{    
width:100%;    
padding:14px;    
    
border-radius:14px;    
border:none;    
    
background:#06162f;    
color:white;    
    
outline:none;    
}    

.auth-btn{    
width:100%;    
    
padding:14px;    
    
border:none;    
border-radius:14px;    
    
font-weight:700;    
font-size:15px;    
    
cursor:pointer;    
    
color:white;    
    
background:    
linear-gradient(    
135deg,    
#2347ff,    
#00d4ff    
);    
}    
.profile-btn{  
width:52px;  
height:52px;  
  
display:flex;  
align-items:center;  
justify-content:center;  
  
clip-path:polygon(  
25% 6.7%,  
75% 6.7%,  
100% 50%,  
75% 93.3%,  
25% 93.3%,  
0% 50%  
);  
  
background:  
linear-gradient(  
135deg,  
#1f4fff,  
#00cfff  
);  
  
color:#fff;  
  
font-family:'Orbitron',sans-serif;  
font-size:14px;  
font-weight:700;  
  
box-shadow:  
0 0 15px rgba(0,212,255,.35);  
  
cursor:pointer;  
transition:.25s;  
}  
  #referralLevel{

font-size:18px;
font-weight:700;

text-shadow:
0 0 15px rgba(0,212,255,.4);

}
.nav-item i{

font-size:16px;

display:block;

margin:0;

color:rgba(255,255,255,.8);

}

.nav-item.active i{

color:#6EC8FF;

text-shadow:
0 0 12px rgba(110,200,255,.7);

}
.checkin-card{
position:relative;

padding:22px;
margin-bottom:20px;

border-radius:24px;

background:linear-gradient(
135deg,
rgba(17,34,74,.95),
rgba(8,18,48,.95)
);

border:1px solid rgba(0,180,255,.18);

box-shadow:
0 10px 30px rgba(0,120,255,.15);

overflow:hidden;
}

.checkin-card::before{
content:"";

position:absolute;
top:0;
left:0;
right:0;

height:3px;

background:linear-gradient(
90deg,
#2b5cff,
#22d7ff,
#2b5cff
);
}

.checkin-card h3{
margin:0 0 18px;
font-size:1.6rem;
font-weight:700;
color:#fff;
}

.checkin-card .action-btn{
margin-top:18px;
width:100%;
}
.checkin-card::after{
content:"";

position:absolute;

top:-80px;
right:-80px;

width:180px;
height:180px;

border-radius:50%;

background:
radial-gradient(
rgba(0,200,255,.12),
transparent 70%
);

pointer-events:none;
}
.checkin-days{
display:flex;
gap:8px;
margin:18px 0;
justify-content:space-between;
}

.day{
width:42px;
height:42px;
border-radius:12px;

display:flex;
align-items:center;
justify-content:center;

background:#12254b;
color:#7faeff;
font-weight:bold;
}

.day.active{
background:linear-gradient(135deg,#2b59ff,#28d8ff);
color:#fff;
}

.day.bonus{
background:#ffb300;
color:#111;
}
.faq-card{

margin-top:20px;

background:#081a4d;

border-radius:18px;

padding:15px;

border:1px solid rgba(255,255,255,.08);

}

.faq-item{

border-bottom:1px solid rgba(255,255,255,.08);

padding:12px 0;

}

.faq-item:last-child{

border-bottom:none;

}

.faq-question{

display:flex;

justify-content:space-between;

align-items:center;

font-size:16px;

font-weight:600;

cursor:pointer;

color:#fff;

}

.faq-question i{

transition:.3s;

}

.faq-item.active i{

transform:rotate(180deg);

}

.faq-answer{

max-height:0;

overflow:hidden;

transition:.3s;

color:#bfc9ff;

font-size:14px;

line-height:1.7;

}

.faq-item.active .faq-answer{

max-height:300px;

margin-top:10px;

}
.profile-avatar-box{

position:relative;

width:90px;
height:90px;

margin:0 0 24px;

}

.profile-avatar{

width:90px;
height:90px;

border-radius:50%;

border:4px solid rgba(255,255,255,.12);

object-fit:cover;

box-shadow:
0 0 30px rgba(0,212,255,.2);

}

.change-avatar{

position:absolute;

right:-2px;
bottom:-2px;

width:32px;
height:32px;

border:none;

border-radius:50%;

background:#2484ff;

color:#fff;

}
.profile-section{

margin-top:18px;

background:rgba(255,255,255,.04);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

overflow:hidden;

}

.profile-row{

display:flex;

align-items:center;

justify-content:space-between;

padding:18px 20px;

border-bottom:1px solid rgba(255,255,255,.05);

}

.profile-row:last-child{

border-bottom:none;

}

.profile-label{

font-size:12px;

letter-spacing:1px;

text-transform:uppercase;

color:#82A7D8;

margin-bottom:6px;

}

.profile-value{

font-size:16px;

font-weight:600;

color:#fff;

}

.profile-edit{

background:none;

border:none;

color:#6EC8FF;

font-size:14px;

cursor:pointer;

}
.profile-signature{
    margin-top:18px;
    text-align:center;
    color:#6ba9ff;
    font-size:12px;
    letter-spacing:2px;
    opacity:.8;
}
.profile-item{
    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:16px 18px;
    margin:14px 18px;

    border-radius:16px;

    background:rgba(255,255,255,.04);

    border:1px solid rgba(80,170,255,.18);

    backdrop-filter:blur(12px);

    transition:.25s;
}

.profile-item:hover{
    border-color:#32b6ff;
    box-shadow:0 0 18px rgba(50,182,255,.25);
}
.logout-btn{

margin-top:25px;

width:100%;

height:52px;

border:none;

border-radius:18px;

background:rgba(255,80,80,.08);

border:1px solid rgba(255,80,80,.2);

color:#ff7d7d;

font-weight:700;

font-size:16px;

transition:.25s;

}
.logout-item{
    border:1px solid rgba(255,80,80,.3);
}

.logout-item:hover{
    border-color:#ff5555;
    box-shadow:0 0 20px rgba(255,80,80,.25);
}
.logout-btn:hover{

background:#ff4f4f;

color:#fff;

}
.future-card{

margin-top:25px;

padding:18px;

border-radius:18px;

background:linear-gradient(135deg,#245dff,#19b7ff);

color:#fff;

}

.future-title{

font-size:18px;

font-weight:700;

margin-bottom:10px;

}

.future-text{

font-size:14px;

line-height:1.7;

}
.power-summary{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:10px;

margin:15px 0;

}

.power-box{

background:
rgba(12,26,60,.75);

border:
1px solid rgba(110,200,255,.12);

border-radius:16px;

padding:12px 8px;

text-align:center;

backdrop-filter:blur(12px);

}

.power-label{

display:flex;

align-items:center;
justify-content:center;

gap:5px;

font-size:11px;

color:#7FA7D9;

margin-bottom:6px;

}

.power-label i{

font-size:11px;

color:#6EC8FF;

}

.power-value{

font-size:14px;

font-weight:700;

color:#fff;

white-space:nowrap;

overflow:hidden;

text-overflow:ellipsis;

}    
.logo{    
 font-size:28px;    
}    
.team-card{
padding:16px;
background:rgba(255,255,255,.04);
border-radius:16px;
}

.team-count{
font-size:14px;
color:#6EC8FF;
margin-bottom:10px;
}

.team-preview{
line-height:1.8;
font-size:15px;
color:#fff;
word-break:break-word;
}

.team-more{
margin-top:10px;
font-size:13px;
color:#9ECFFF;
}

.team-btn{
margin-top:14px;
width:100%;
padding:12px;
border:none;
border-radius:12px;
background:linear-gradient(
90deg,
#2563ff,
#1ec8ff
);
color:#fff;
font-weight:600;
}
  @media (max-width:380px){  
  
#balanceValue{  
font-size:42px;  
}  
  
.user-name{  
font-size:18px;  
}  
  
.mine-info{  
font-size:12px;  
}  
  
.rate-badge{  
font-size:12px;  
}  
  
}  